.outer
{
	height : auto;
	//width  : 100%;
}
.header
{
	//background-color : #009900;
	color : #fff;
	text-align : center;
}
.header .h1
{
		font-size : 4vw;
}
#menu li a
{
	color:#009900;
	font-family : calibri;
}
#font_family 
{
	font-family : sans-serif;
	//color : #fff;
	//font-size : 20px;
}
#dept
{
	//min-height : 530px;
	//background : red;
	float : left;
	//background-image : url('../images/services.png');
	background-repeat : no-repeat;
}
